%script
	// this should really be moved to a different file so that you can structure it correctly
	$(document).ready(function() {

	var last_check = new Date();

	function getNewerComments(){
	$.ajax({
	url: '/',
	type: 'GET',
	data:{after:last_check, before: new Date()},
	success: function(data) {
	last_check = new Date();
	$('#main').prepend(data);
	}
	});	
	}	

	var page = 1;
	function getNewPage(){
	page++;
	$.ajax({
	url: '/',
	type: 'GET',
	data:{page:page},
	success: function(data) {

	$('#pageButton').remove()
	$('#main').append(data);
	}
	});	
	}

	var refreshId = setInterval( function()
	{
	getNewerComments();
	}, 5000);
	$("#pageButton").live('click',function () {
	getNewPage();
	});
	})	
.container-fluid
	.row-fluid
		%a{:href => '/new'}
			%button.btn
				New
#main.container-fluid
	-@blogposts.each do |post|
		.row-fluid
			.span6.post
				%h2
					%a{:href => "/#{post.id}"} 
						= post.title
				%p 
					= post.body
				%p 
					= post.posted
				%div
					%a{:href => "/#{post.id}/edit"} Edit
-if !@blogposts.next_page.nil?
	.row-fluid
		%button.btn#pageButton{:type => 'button'} More..

