-@blogposts.each do |post|
	.row-fluid
		.span6.post
			%h2
				%a{:href => "/#{post.id}"} 
					= post.title
			%p 
				= post.body
			%p 
				= post.posted
			%div
				%a{:href => "/#{post.id}/edit"} Edit
